<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Manager - Post List</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>

</head>

<body>

<div class="wrapper wrapper-content animated fadeInRight" style="height:100%;">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group" style="width:100%;">

                        <button type="button" class="btn btn-outline btn-default"
                                data-toggle="modal" data-target="#myModal">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                            Add new
                        </button>

                        <div class="modal fade" id="myModal" tabindex="-1"
                             role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true" style="height:100%;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Add New Work Experience</h4>
                                    </div>
                                    <div class="row" style="margin: 20px;">
                                        <form role="form" method="post" th:action="@{/octopus/applicant/resume/work/add}" th:object="${workExperience}">
                                            <input type="hidden" id="resumeId" th:field="*{resumeId}">
                                            <div class="form-group"><label>Start Time</label> <input type="date" id="startTime" th:field="*{startTime}" placeholder="Start Time" class="form-control" required></div>
                                            <div class="form-group"><label>End Time</label> <input type="date" id="endTime" th:field="*{endTime}" placeholder="End Time" class="form-control" required></div>
                                            <div class="form-group"><label>Company</label> <input type="text" id="company" th:field="*{company}" placeholder="Company" class="form-control" required></div>
                                            <div class="form-group"><label>Position</label> <input type="text" id="post" th:field="*{post}" placeholder="Position" class="form-control" required></div>
                                            <div class="form-group"><label>City</label> <input type="text" id="city" th:field="*{city}" placeholder="City" class="form-control" required></div>
                                            <div class="form-group"><label>Referencer Name</label> <input type="text" id="referenceName" th:field="*{referenceName}" placeholder="Referencer Name" class="form-control" required></div>
                                            <div class="form-group"><label>Referencer Phone</label> <input type="text" id="referencePhoneNum" th:field="*{referencePhoneNum}" placeholder="Referencer Phone" class="form-control" required></div>
                                            <div class="form-group"><label>Job Description</label> <input type="text" id="workDescription" th:field="*{workDescription}" placeholder="Job Description" class="form-control" required></div>
                                            <div class="form-group"><label>Achievement</label> <input type="text" id="achievement" th:field="*{achievement}" placeholder="Achievement" class="form-control" required></div>
                                            <div>
                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Add</strong></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div> <!-- /.modal -->

                        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search..."
                               style="width:25%;float:right;"/>
                    </div>
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="9"
                           data-filter="#filter">
                        <thead>
                        <tr class="footable even">
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Company</th>
                            <th>Position</th>
                            <th>City</th>
                            <th>ReferenceName</th>
                            <th>ReferencePhone</th>
                            <th>JobDescription</th>
                            <th>Achievement</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody>

                        <th:block th:each="work : ${workExperienceList}">
                            <tr>
                                <td th:text="${work.startTime}"></td>
                                <td th:text="${work.endTime}"></td>
                                <td th:text="${work.company}"></td>
                                <td th:text="${work.post}"></td>
                                <td th:text="${work.city}"></td>
                                <td th:text="${work.referenceName}"></td>
                                <td th:text="${work.referencePhoneNum}"></td>
                                <td th:text="${work.workDescription}"></td>
                                <td th:text="${work.achievement}"></td>
                                <td>
                                    <button type="button" class="btn btn-info btn-circle"
                                            data-toggle="modal" data-target="#myModal2">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal2" tabindex="-1"
                                         role="dialog" aria-labelledby="myModalLabel2"
                                         aria-hidden="true" style="height:100%;">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel2">Update New Work Experience</h4>
                                                </div>
                                                <div class="row" style="margin: 20px;">
                                                    <form role="form" method="post" th:action="@{/octopus/applicant/resume/work/update}" th:object="${work}">
                                                        <fieldset>
                                                            <input type="hidden" name="workExperienceId" th:value="*{workExperienceId}">
                                                            <input type="hidden" name="resumeId" th:value="*{resumeId}">
                                                            <div class="form-group"><label>Start Time</label> <input type="text" name="startTime" th:value="*{startTime}" placeholder="Start Time" class="form-control" required></div>
                                                            <div class="form-group"><label>End Time</label> <input type="text" name="endTime" th:value="*{endTime}" placeholder="End Time" class="form-control" required></div>
                                                            <div class="form-group"><label>Company</label> <input type="text" name="company" th:value="*{company}" placeholder="Company" class="form-control" required></div>
                                                            <div class="form-group"><label>Position</label> <input type="text" name="post" th:value="*{post}" placeholder="Position" class="form-control" required></div>
                                                            <div class="form-group"><label>City</label> <input type="text" name="city" th:value="*{city}" placeholder="City" class="form-control" required></div>
                                                            <div class="form-group"><label>Referencer Name</label> <input type="text" name="referenceName" th:value="*{referenceName}" placeholder="Referencer Name" class="form-control" required></div>
                                                            <div class="form-group"><label>Referencer Phone</label> <input type="text" name="referencePhoneNum" th:value="*{referencePhoneNum}" placeholder="Referencer Phone" class="form-control" required></div>
                                                            <div class="form-group"><label>Job Description</label> <input type="text" name="workDescription" th:value="*{workDescription}" placeholder="Job Description" class="form-control" required></div>
                                                            <div class="form-group"><label>Achievement</label> <input type="text" name="achievement" th:value="*{achievement}" placeholder="Achievement" class="form-control" required></div>
                                                            <div>
                                                                <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Update</strong></button>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                        <!-- /.modal-dialog -->
                                    </div> <!-- /.modal -->
                                    <button type="button"
                                            th:onclick="${'location.href=''work/delete/' + work.workExperienceId + ''''}"
                                            class="btn btn-danger btn-circle">
                                        <i class="fa fa-times"></i></a>
                                    </button>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="10">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>