<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Manager - Post List</title>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}" />

    <!-- MetisMenu CSS -->
    <link th:href="@{/octopus/new-vendor/metisMenu/metisMenu.min.css}" rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/octopus/new-vendor/css/sb-admin-2.css}" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link th:href="@{/octopus/css/font-awesome.min93e3.css}"  rel="stylesheet" />

    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>


    <link th:href="@{/octopus/new-vendor/css/plugins/jasny/jasny-bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/octopus/new-vendor/css/plugins/codemirror/codemirror.css}" rel="stylesheet" />

    <!--new vendor -->
    <link th:href="@{/octopus/new-vendor/css/plugins/steps/jquery.steps.css}" rel="stylesheet" />
    <link th:href="@{/octopus/new-vendor/css/animate.css}" rel="stylesheet" />
    <link th:href="@{/octopus/new-vendor/css/style.css}" rel="stylesheet" />

</head>

<body>

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content">
                <h2>
                    Please Input Your Information Carefully.
                </h2>
                <p>
                    Your Information is very important for job hunting.
                </p>
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <p>
                            This is basic example of Step
                        </p>
                        <div id="wizard">
                            <h1>1. Basic Information</h1>
                            <div class="step-content">
                                <form method="post" action="#">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Name</label>
                                                    <input id="applicantName" name="name"  type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">City</label>
                                                    <input id="applicantCity"  name="city" type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Political</label>
                                                    <input id="applicantPoliticalStatus" name="political"  type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">CurrentSalary</label>
                                                    <input id="applicantCurrentSalary" name="CurrentSalary" type="text" class="form-control number">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">familyContactName</label>
                                                    <input id="familyContactName" name="familyContactName" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Phone</label>
                                                    <input id="applicantPhone" name="phone"  type="text" class="form-control number">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Degree</label><br>
                                                    <select class="form-control" id="applicantDegree" name="applicantDegree" >
                                                        <option value="0">High School</option>
                                                        <option value="1">Bachlor</option>
                                                        <option value="2">Master</option>
                                                        <option value="3">Doctor</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Marital</label>
                                                    <input id="applicantMaritalStatus" name="applicantMaritalStatus"  type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">ExpectSalary</label>
                                                    <input id="applicantExpectSalary" name="applicantExpectSalary"  type="text" class="form-control number">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">familyContactRelation</label>
                                                    <input id="familyContactRelation" name="familyContactRelation" type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Email</label>
                                                    <input id="applicantEmail" name="applicantEmail" type="text" class="form-control email">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">applicantHometown</label>
                                                    <input id="applicantHometown" name="applicantHometown" type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">BirthDate</label>
                                                    <input id="applicantDateOfBirth" name="applicantDateOfBirth" type="date" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">DutyTime</label>
                                                    <select class="form-control" id="applicantDutyTime" name="applicantDutyTime" >
                                                        <option value="0">One Week</option>
                                                        <option value="1">One Month</option>
                                                        <option value="2">Two Month</option>
                                                        <option value="3">Pending</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">familyContactCompany</label>
                                                    <input id="familyContactCompany" name="familyContactCompany" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Sex</label><br>
                                                    <select class="form-control" id="sex" name="sex">
                                                        <option value="0">Male</option>
                                                        <option value="1">Female</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Nation</label>
                                                    <input id="applicantNation" name="applicantNation" type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">TimeToWork</label>
                                                    <input id="applicantTimeToWork" name="applicantTimeToWork" type="date" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">recommenderName</label>
                                                    <input id="recommenderName" name="recommenderName" type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">familyContactPhoneNum</label>
                                                    <input id="familyContactPhoneNum" name="familyContactPhoneNum" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Address</label>
                                                    <input id="applicantAddress" name="applicantAddress" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label th:style="${listResumeModel.}">Self Introduction</label>
                                                    <textarea id="applicantSelfIntro" name="applicantSelfIntro" type="text" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <h3>applicantPhoto</h3>
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-content">
                                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file"></i> <span class="fileinput-filename"></span></div>
                                                                <span class="input-group-addon btn btn-default btn-file">
                                                        <span class="fileinput-new">Select file</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" accept="image/*" name="..." />
                                                    </span>
                                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <h3>applicantDegreePhoto</h3>
                                                    <div class="ibox float-e-margins">
                                                        <div class="ibox-content">
                                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                                <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file"></i> <span class="fileinput-filename"></span></div>
                                                                <span class="input-group-addon btn btn-default btn-file">
                                                        <span class="fileinput-new">Select file</span>
                                                        <span class="fileinput-exists">Change</span>
                                                        <input type="file" accept="image/*" name="..." />
                                                    </span>
                                                                <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>

                            <h1>2. Work Experience</h1>
                            <div class="step-content">
                                <div class="row" >
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button type="button" style="height:50px; width:105%; background-color:#fff; border-style:dotted; float:bottom;">+ Add New</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>3. Education Experience</h1>
                            <div class="step-content">
                                <div class="row" >
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <button type="button" style="height:50px; width:105%; background-color:#fff; border-style:dotted; float:bottom;">+ Add New</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <h1>4. Resume Paperwork</h1>
                            <div class="step-content">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>Your Resume</h5>
                                            </div>
                                            <div class="ibox-content">
                                                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                    <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file"></i> <span class="fileinput-filename"></span></div>
                                                    <span class="input-group-addon btn btn-default btn-file">
                                                    <span class="fileinput-new">Select file</span>
                                                    <span class="fileinput-exists">Change</span>
                                                    <input type="file" accept="application/pdf" name="..." />
                                                </span>
                                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="text-center">
                                            <div style="margin-top: 20px">
                                                <i class="fa fa-check-square" style="font-size: 100px;color: #e5e5e5 "></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script th:src="@{/octopus/js/jquery.min.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/octopus/js/bootstrap.min.js}"></script>

<script th:src="@{/octopus/new-vendor/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/octopus/new-vendor/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/octopus/new-vendor/js/inspinia.js}"></script>
<script th:src="@{/octopus/new-vendor/js/plugins/pace/pace.min.js}"></script>

<!-- Jasny -->
<script th:src="@{/octopus/new-vendor/js/plugins/jasny/jasny-bootstrap.min.js}"></script>

<!-- Steps -->
<script th:src="@{/octopus/new-vendor/js/plugins/steps/jquery.steps.min.js}"></script>
<!-- Jquery Validate -->
<script th:src="@{/octopus/new-vendor/js/plugins/validate/jquery.validate.min.js}"></script>

<script>
$(document).ready(function(){
    $("#wizard").steps({
        onFinished: function (event, currentIndex)
        {
            window.location.href='error.html';
        }
    });
});
</script>

</body>
</html>
