<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Manager - Post List</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/sweetalert/sweetalert.css}"/>


    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

    <!-- Peity -->
    <script th:src="@{/new-vendor/js/plugins/peity/jquery.peity.min.js}"></script>
    <!-- Custom and plugin javascript -->
    <script th:src="@{/new-vendor/js/inspinia.js}"></script>
    <script th:src="@{/new-vendor/js/plugins/pace/pace.min.js}"></script>
    <!-- Peity -->
    <script th:src="@{/new-vendor/js/demo/peity-demo.js}"></script>
</head>

<body>
<div class="wrapper wrapper-content" style="height:100%;">
    <div class="row animated fadeInRight" style="height:100%;">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h1>Interview Timeline</h1>
                </div>

                <div class="ibox-content" id="ibox-content">
                    <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">

                        <!-- Interviews -->
                        <th:block th:each="interview : ${interviewList}">

                            <!-- Interview Arrangement Accepted (Waiting for Interview Result) -->
                            <div th:if="${interview.interviewResultStatus} eq ${T(com.targaryen.octopus.util.status.InterviewResultStatus).INIT}"
                                 class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview Arrangement Accepted (Waiting for Interview Result)</h2><br/>
                                    <p>
                                        Interview hosting by interviewer: &emsp; <label th:text="${interview.interviewerName}"></label>
                                        <br/>
                                        Interview detail: <label>Waiting for comments.</label>
                                        <br/>
                                        Interview Result: <label>Waiting for interview result.</label>
                                    </p>
                                    <span class="vertical-date">
                                        <label th:text="${#dates.format(interview.interviewStartTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(interview.interviewStartTime,'HH:mm')}"></label></small>
                                    </span>
                                </div>
                            </div>

                            <!-- Interview NOT_HIRE -->
                            <div th:if="${interview.interviewResultStatus} eq ${T(com.targaryen.octopus.util.status.InterviewResultStatus).NOT_HIRE}"
                                 class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-arrow-down"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview NOT HIRE</h2>
                                    <p>
                                        Interview Closed by interviewer. <label th:text="${interview.interviewerName}"></label>
                                        <br/>
                                        Interview detail: <label th:text="${interview.interviewResultComment}"></label>
                                        <br/>
                                        Interview Result:<label>Not Hire</label>

                                    </p>

                                    <span class="vertical-date">
                                        <label th:text="${#dates.format(interview.interviewStartTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(interview.interviewStartTime,'HH:mm')}"></label></small>
                                    </span>
                                </div>
                            </div>

                            <!-- Interview WEAK_HIRE -->
                            <div th:if="${interview.interviewResultStatus} eq ${T(com.targaryen.octopus.util.status.InterviewResultStatus).WEAK_HIRE}"
                                 class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-arrow-down"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview WEAK HIRE</h2>
                                    <p>
                                        Interview Closed by interviewer. <label th:text="${interview.interviewerName}"></label>
                                        <br/>
                                        Interview detail: <label th:text="${interview.interviewResultComment}"></label>
                                        <br/>
                                        Interview Result:<label>Weak Hire</label>
                                    </p>

                                    <span class="vertical-date">
                                        <label th:text="${#dates.format(interview.interviewStartTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(interview.interviewStartTime,'HH:mm')}"></label></small>
                                    </span>
                                </div>
                            </div>

                            <!-- Interview HIRE -->
                            <div th:if="${interview.interviewResultStatus} eq ${T(com.targaryen.octopus.util.status.InterviewResultStatus).HIRE}"
                                 class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-arrow-down"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview HIRE</h2>
                                    <p>
                                        Interview Closed by interviewer. <label th:text="${interview.interviewerName}"></label>
                                        <br/>
                                        Interview detail: <label th:text="${interview.interviewResultComment}"></label>
                                        <br/>
                                        Interview Result:<label>Hire</label>
                                    </p>

                                    <span class="vertical-date">
                                        <label th:text="${#dates.format(interview.interviewStartTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(interview.interviewStartTime,'HH:mm')}"></label></small>
                                    </span>
                                </div>
                            </div>

                            <!-- Interview STRONG_HIRE -->
                            <div th:if="${interview.interviewResultStatus} eq ${T(com.targaryen.octopus.util.status.InterviewResultStatus).STRONG_HIRE}"
                                 class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-arrow-down"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview STRONG HIRE</h2>
                                    <p>
                                        Interview Closed by interviewer. <label th:text="${interview.interviewerName}"></label>
                                        <br/>
                                        Interview detail: <label th:text="${interview.interviewResultComment}"></label>
                                        <br/>
                                        Interview Result: <label>Strong Hire</label>
                                    </p>

                                    <span class="vertical-date">
                                        <label th:text="${#dates.format(interview.interviewStartTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(interview.interviewStartTime,'HH:mm')}"></label></small>
                                    </span>
                                </div>
                            </div>

                        </th:block>


                        <!-- No offer -->
                        <div th:if="${InterviewFinal.status} eq ${T(com.targaryen.octopus.util.status.ApplicationStatus).DPT_FAIL}"
                             class="vertical-timeline-block">
                            <div class="vertical-timeline-icon muted-bg" style="background-color: #343a40;">
                                <i class="fa fa-undo" style="color: #FFF;"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>No Offer.</h2>
                                <p>
                                    Interview Closed by HR.
                                </p>

                                <span class="vertical-date">
                                        <label th:text="${#dates.format(InterviewFinal.interviewEndTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(InterviewFinal.interviewEndTime,'HH:mm')}"></label></small>
                                    </span>
                            </div>
                        </div>

                        <!-- Receive Offer -->
                        <div th:if="${InterviewFinal.status} ge ${T(com.targaryen.octopus.util.status.ApplicationStatus).OFFER}
                             or ${InterviewFinal.status} lt ${T(com.targaryen.octopus.util.status.ApplicationStatus).DPT_FAIL}"
                             class="vertical-timeline-block">
                            <div class="vertical-timeline-icon blue-bg">
                                <i class="fa fa-calendar-check-o"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Received Offer</h2>
                                <p>
                                    Congratulations!
                                </p>
                                <!--<a class="btn btn-sm btn-warning" style="margin-left: 5px; color: #FFF; background-color:#9c27b0;"
                                   th:onclick="${'rejectOffer(' + InterviewFinal.applicationId + ');'}">Reject Offer</a>
                                <a class="btn btn-sm" style="margin-left: 5px; color: #FFF; background-color: #5cb85c;"
                                   th:onclick="${'acceptOffer(' + InterviewFinal.applicationId + ');'}">Accept Offer</a>-->
                                <span class="vertical-date">
                                        <label th:text="${#dates.format(InterviewFinal.interviewEndTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(InterviewFinal.interviewEndTime,'HH:mm')}"></label></small>
                                    </span>
                            </div>
                        </div>
<!--

                        &lt;!&ndash; Offer Accepted&ndash;&gt;
                        <div th:if="${InterviewFinal.status} ge ${T(com.targaryen.octopus.util.status.ApplicationStatus).APPLICANT_ACCEPT}
                                    or ${InterviewFinal.status} lt ${T(com.targaryen.octopus.util.status.ApplicationStatus).APPLICANT_REJECT}"
                             class="vertical-timeline-block">
                            <div class="vertical-timeline-icon" style="background-color:#28a745;">
                                <i class="fa fa-check" style="color:#FFF;"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Offer Accept</h2>
                                <p>
                                    Congratulations.
                                </p>

                                <span class="vertical-date">
                                        <label th:text="${#dates.format(InterviewFinal.interviewEndTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(InterviewFinal.interviewEndTime,'HH:mm')}"></label></small>
                                    </span>
                            </div>
                        </div>

                        &lt;!&ndash; Offer Rejected&ndash;&gt;
                        <div th:if="${InterviewFinal.status} eq ${T(com.targaryen.octopus.util.status.ApplicationStatus).APPLICANT_REJECT}"
                             class="vertical-timeline-block">
                            <div class="vertical-timeline-icon" style="background-color:#dc3545;">
                                <i class="fa fa-close" style="color:#FFF;"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Offer Rejected</h2>
                                <p>Offer rejected.</p>

                                <span class="vertical-date">
                                        <label th:text="${#dates.format(InterviewFinal.applicantFeedbackTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(InterviewFinal.applicantFeedbackTime,'HH:mm')}"></label></small>
                                    </span>
                            </div>
                        </div>
-->

                        <!-- interview Fail-->
                        <div th:if="${InterviewFinal.status} eq ${T(com.targaryen.octopus.util.status.ApplicationStatus).INTERVIEW_FAIL}"
                             class="vertical-timeline-block">
                            <div class="vertical-timeline-icon" style="background-color:#dc3545;">
                                <i class="fa fa-close" style="color:#FFF;"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>Interview Failed.</h2>
                                <p>
                                    Interview Closed by HR.
                                </p>

                                <span class="vertical-date">
                                        <label th:text="${#dates.format(InterviewFinal.interviewEndTime,'yyyy-MM-dd')}"></label><br/>
                                            <small><label th:text="${#dates.format(InterviewFinal.interviewEndTime,'HH:mm')}"></label></small>
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(".footable").footable();

    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
    /*]]>*/
    var csrfData = {};
    csrfData[_csrf_param_name] = _csrf_token;

    /* Timeline buttons */
    $('#lightVersion').click(function(event) {
        event.preventDefault();
        $('#ibox-content').removeClass('ibox-content');
        $('#vertical-timeline').removeClass('dark-timeline');
        $('#vertical-timeline').addClass('light-timeline');
    });

    $('#darkVersion').click(function(event) {
        event.preventDefault();
        $('#ibox-content').addClass('ibox-content');
        $('#vertical-timeline').removeClass('light-timeline');
        $('#vertical-timeline').addClass('dark-timeline');
    });

    $('#leftVersion').click(function(event) {
        event.preventDefault();
        $('#vertical-timeline').toggleClass('center-orientation');
    });

    /* Init: Left Version */
    $('#vertical-timeline').toggleClass('center-orientation');


    /* Cancel interview (Delete) */
    function cancelInterview(interviewId) {
        csrfData['interviewId'] = interviewId;

        swal({
            title : "Confirm",
            text: "Do you really wish to delete this interview permanently?",
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : "Yes",
            cancelButtonText : "No",
            closeOnConfirm : false,
            closeOnCancel : false
        }, function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "post",
                    url: 'interview/cancel',
                    data: csrfData,
                    async: false,
                    success: function (data) {
                        swal({
                            title: "Success",
                            text: "You have successfully deleted this interview permanently.",
                            type: "success"
                        }, function (isConfirm) {
                            document.location.reload();
                        });
                    },
                    error: function (data) {
                        swal({
                            title: "Failure",
                            text: "You have not successfully deleted this interview permanently.",
                            type: "error"
                        });
                    }
                });
            } else {
                swal("Cancelled", "You have cancelled.", "error");
            }
        });
    }

    /* Reject offer */
    function rejectOffer(applicationId) {
        csrfData['applicationId'] = applicationId;

        swal({
            title : "Confirm",
            text: "Do you really wish to reject this offer permanently?",
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : "Yes",
            cancelButtonText : "No",
            closeOnConfirm : false,
            closeOnCancel : false
        }, function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "post",
                    url: "../rejectOffer",
                    data: csrfData,
                    async: false,
                    success: function (data) {
                        swal({
                            title: "Success",
                            text: "You have successfully rejected this offer permanently.",
                            type: "success"
                        }, function (isConfirm) {
                            document.location.reload();
                        });
                    },
                    error: function (data) {
                        swal({
                            title: "Failure",
                            text: "You have not successfully rejected this application permanently.",
                            type: "error"
                        });
                    }
                });
            } else {
                swal("Cancelled", "You have cancelled.", "error");
            }
        });
    }

    /* Accept offer */
    function acceptOffer(applicationId) {
        csrfData['applicationId'] = applicationId;

        swal({
            title : "Confirm",
            text: "Do you really wish to accept offer?",
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : "Yes",
            cancelButtonText : "No",
            closeOnConfirm : false,
            closeOnCancel : false
        }, function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "post",
                    url: "../acceptOffer",
                    data: csrfData,
                    async: false,
                    success: function (data) {
                        swal({
                            title: "Success",
                            text: "You have successfully accept offer.",
                            type: "success"
                        }, function (isConfirm) {
                            document.location.reload();
                        });
                    },
                    error: function (data) {
                        swal({
                            title: "Failure",
                            text: "You have not successfully sent offer.",
                            type: "error"
                        });
                    }
                });
            } else {
                swal("Cancelled", "You have cancelled.", "error");
            }
        });
    }

    /* Validation */
    var validationConfig = {
        // submitHandler executes after the form PASSED the validation
        submitHandler: function(form) {
            $.ajax({
                type: "post",
                url: "interview/new",
                data: $('#new-interview-form').serialize(),
                async: false,
                success: function(data) {
                    swal({
                        title:"Success",
                        text: "You have successfully created a new interview.",
                        type:"success"
                    }, function(isConfirm) {
                        document.location.reload();
                    });
                },
                error: function(data) {
                    swal({
                        title:"Failure",
                        text: "You have not successfully created a new interview.",
                        type: "error"
                    });
                }
            });
        }
    };

    $("#new-interview-form").validate(validationConfig);
</script>
</body>
</html>
