<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Department Manager - Post Detail</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/markdown/bootstrap-markdown.min.css}" />

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/markdown/markdown.js}"></script>
    <script th:src="@{/octopus/js/plugins/markdown/to-markdown.js}"></script>
    <script th:src="@{/octopus/js/plugins/markdown/bootstrap-markdown.js}"></script>
    <script th:src="@{/octopus/js/jquery.validate.min.js}"></script>
</head>

<body class="gray-bg">

    <form id="myForm" method="post" th:action="${action}">

        <input type="hidden" name="postId" th:value="${post.postId}" />

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h1 th:text="${title}">Check/Edit post need detail</h1>
                        </div>

                        <div class="ibox-content form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Post Name:</label>

                                <div class="col-sm-8">
                                    <input type="text" th:value="${post.postName}" id="postName" name="postName" placeholder="e.g. Java Developer" class="form-control" required="required" >
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Post Type:</label>

                                <div class="col-sm-8">
                                    <input type="text" th:value="${post.postType}" id="postType" name="postType" placeholder="e.g. Engineer" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Post Locale:</label>

                                <div class="col-sm-8">
                                    <input type="text" th:value="${post.postLocale}" id="postLocale" name="postLocale" placeholder="e.g. Melbourne" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Post Head Count:</label>

                                <div class="col-sm-8">
                                    <input type="text" th:value="${post.recruitNum}" id="recruitNum" name="recruitNum" placeholder="e.g. 5" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Department:</label>

                                <div class="col-sm-8">
                                    <p style="border:0px;" class="form-control" th:text="${post.departmentName}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-title">
                            <h5>Post Description</h5>
                        </div>

                        <div class="ibox-content">
                            <textarea id="postDescription" name="postDescription" data-provide="markdown" rows="10">[[${post.postDescription}]]</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-title">
                            <h5>Post Requirement</h5>
                        </div>

                        <div class="ibox-content">
                            <textarea id="postRequirement" name="postRequirement" data-provide="markdown" rows="10">[[${post.postRequirement}]]</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content">
                            <button type="submit" class="btn btn-w-m btn-primary">
                                Save
                            </button>

                            <button type="button" class="btn btn-w-m btn-info" th:onclick="${'location.href=''' + returnUrl + ''''}">
                                Return to post list
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <script th:inline="javascript">
        var validationConfig = {
            // submitHandler executes after the form PASSED the validation
            submitHandler: function(form) {
                $.ajax({
                    type: "post",
                    url: [[${action}]],
                    data: $('#myForm').serialize(),
                    async: false,
                    success: function(data) {
                        swal({
                            title:"Success",
                            text: [[${swalTextSuccess}]],
                            type:"success"
                        }, function(isConfirm) {
                            location.href=[[${returnUrl}]];
                        });
                    },
                    error: function(data) {
                        swal({
                            title:"Failure",
                            text: [[${swalTextFailure}]],
                            type: "error"
                        });
                    }
                });
            }
        };

        $("#myForm").validate(validationConfig);
    </script>
</body>
</html>
