<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR - Post Applications List</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/css/plugins/iCheck/custom.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
</head>

<body class="gray-bg">

    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <!--
                    <div class="text-center float-e-margins p-md">
                        <span>Turn on/off color/background or orientation version: </span>
                        <a href="#" class="btn btn-xs btn-primary" id="lightVersion">Light version</a>
                        <a href="#" class="btn btn-xs btn-primary" id="darkVersion">Dark version</a>
                        <a href="#" class="btn btn-xs btn-primary" id="leftVersion">Left version</a>
                    </div>
                    -->
                    <div class="ibox-title">
                        <h1>Application Timeline</h1>
                    </div>

                    <div class="ibox-content" id="ibox-content">

                        <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-hourglass-start"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Resume Passed</h2>
                                    <p>Assessor: Fake HR ID</p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon yellow-bg">
                                    <i class="fa fa-calendar-plus-o"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview Arrangement</h2>
                                    <p>New interview created. Waiting for confirmation from interviewer and applicant.</p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon muted-bg" style="background-color: #6c757d;">
                                    <i class="fa fa-calendar-times-o" style="color: #FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview Arrangement Rejected</h2>
                                    <p>
                                        Interview arrangement rejected by interviewer/applicant.
                                        <br/>
                                        Comment: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview Arrangement Accepted (Waiting for Interview Result)</h2>
                                    <p>
                                        Interview arrangement accepted by both interviewer and applicant. Waiting for interview result.
                                        <br/>
                                        Interview detail: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon muted-bg" style="background-color: #343a40;">
                                    <i class="fa fa-undo" style="color: #FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview Failed</h2>
                                    <p>
                                        Interview failed by interviewer.
                                        <br/>
                                        Comment: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-arrow-down"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Interview Passed</h2>
                                    <p>
                                        Interview passed by interviewer.
                                        <br/>
                                        Interview detail: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#dc3545;">
                                    <i class="fa fa-close" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Application Rejected (HR)</h2>
                                    <p>
                                        Application rejected by HR.
                                        <br/>
                                        Assessor: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#cddc39;">
                                    <i class="fa fa-eye" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Application Passed (HR)</h2>
                                    <p>
                                        Application passed by HR. Waiting for department manager confirmation.
                                        <br/>
                                        Assessor: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#dc3545;">
                                    <i class="fa fa-close" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Application Rejected (Department Manager)</h2>
                                    <p>
                                        Application rejected by department manager.
                                        <br/>
                                        Assessor: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#8bc34a;">
                                    <i class="fa fa-flag" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Application Passed (Department Manager)</h2>
                                    <p>
                                        Application passed by department manager. Ready for sending offer!
                                        <br/>
                                        Assessor: ***
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#9c27b0;">
                                    <i class="fa fa-envelope" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Offer Sent</h2>
                                    <p>
                                        Offer sent to applicant. Waiting for confirmation.
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#dc3545;">
                                    <i class="fa fa-close" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Offer Rejected</h2>
                                    <p>
                                        Offer rejected by applicant.
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon" style="background-color:#28a745;">
                                    <i class="fa fa-check" style="color:#FFF;"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Offer Accepted</h2>
                                    <p>
                                        Offer accepted by applicant. Congratulations!
                                    </p>
                                    <span class="vertical-date">
                                        Fake Day <br/>
                                        <small>Fake Time</small>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script th:inline="javascript">
    $(".footable").footable();

    $('#lightVersion').click(function(event) {
        event.preventDefault();
        $('#ibox-content').removeClass('ibox-content');
        $('#vertical-timeline').removeClass('dark-timeline');
        $('#vertical-timeline').addClass('light-timeline');
    });

    $('#darkVersion').click(function(event) {
        event.preventDefault();
        $('#ibox-content').addClass('ibox-content');
        $('#vertical-timeline').removeClass('light-timeline');
        $('#vertical-timeline').addClass('dark-timeline');
    });

    $('#leftVersion').click(function(event) {
        event.preventDefault();
        $('#vertical-timeline').toggleClass('center-orientation');
    });

    /* Init: Left Version */
    $('#vertical-timeline').toggleClass('center-orientation');

</script>

</body>
</html>
