<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR - Announcement Detail</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/markdown/bootstrap-markdown.min.css}" />
    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap-switch.css}" />

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/markdown/markdown.js}"></script>
    <script th:src="@{/octopus/js/plugins/markdown/to-markdown.js}"></script>
    <script th:src="@{/octopus/js/plugins/markdown/bootstrap-markdown.js}"></script>
    <script th:src="@{/octopus/js/jquery.validate.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap-switch.js}"></script>
</head>

<body class="gray-bg">

<form id="myForm" method="post" th:action="${action}">

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1 th:text="${title}"></h1>

                        <ol class="breadcrumb">
                            <li>
                                <a href="#">HR</a>
                            </li>
                            <li>
                                <a>Announcement</a>
                            </li>
                            <li class="active">
                                <strong>Detail</strong>
                            </li>
                        </ol>
                    </div>

                    <div class="ibox-content  form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Public Type:</label>
                            <div class="col-sm-8">
                                <input type="checkbox" name="announcementType" data-on-text="Public(HR)" data-off-text="Public(Not HR)" checked>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Announcement Title:</label>

                            <div class="col-sm-8">
                                <input type="text" th:value="${announcement.announcementTitle}" id="announcementTitle" name="announcementTitle" placeholder="Dec. Seminar" class="form-control" required="required" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-title">
                            <h5>Announcement Content</h5>
                        </div>

                        <div class="ibox-content">
                            <textarea id="announcementDetail" name="announcementDetail" data-provide="markdown" rows="10">[[${announcement.announcementDetail}]]</textarea>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">

                        <div class="ibox-content">
                            <button type="submit" class="btn btn-w-m btn-primary">
                                Save
                            </button>

                            <button type="button" class="btn btn-w-m btn-info" th:onclick="${'location.href=''' + returnUrl + ''''}">
                                Return to post list
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:inline="javascript">
        $("[name='announcementType']").bootstrapSwitch({'onColor': 'primary', 'offColor': 'success'});
        $("[name='announcementType']").bootstrapSwitch('state', [[${announcementType}]]);

        var validationConfig = {
            // submitHandler executes after the form PASSED the validation
            submitHandler: function(form) {
                $.ajax({
                    type: "post",
                    url: [[${action}]],
                    data: $('#myForm').serialize(),
                    async: false,
                    success: function(data) {
                        swal({
                            title:"Success",
                            text: [[${swalTextSuccess}]],
                            type:"success"
                        }, function(isConfirm) {
                            location.href=[[${returnUrl}]];
                        });
                    },
                    error: function(data) {
                        swal({
                            title:"Failure",
                            text: [[${swalTextFailure}]],
                            type: "error"
                        });
                    }
                });
            }
        };

        $("#myForm").validate(validationConfig);
    </script>
</body>
</html>
