<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR - Index</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}" />
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}" />
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}" />

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/octopus/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/layer/layer.min.js}"></script>
    <script th:src="@{/octopus/js/hplus.min.js}"></script>
    <script th:src="@{/octopus/js/contabs.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/pace/pace.min.js}"></script>

    <script th:src="@{/octopus/js/notification/sockjs.js}"></script>
    <script th:src="@{/octopus/js/notification/stomp.js}"></script>
</head>

<body class="fixed-sidebar full-height-layout gray-bg">
<div id="wrapper">
    <!-- Left Bar Start -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="nav-close"><i class="fa fa-times-circle"></i>
        </div>
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">

                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">[[${userName}]]</strong>
                                </span>
                                <span class="text-muted text-xs block">[[${roleName}]]<b class="caret"></b></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li>
                                <a onclick="document.getElementById('logOut').submit();">Log out</a>
                                <form id="logOut" method="post" th:action="@{/octopus/logout}"></form>
                            </li>
                        </ul>

                    </div>

                    <!-- Beautiful logo -->
                    <div class="logo-element">HR
                    </div>
                </li>

                <li>
                    <a>
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="nav-label">Recruitment</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" th:href="@{/octopus/hr/post/list(type=1)}">Society Recruitment</a>
                        </li>
                    </ul>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" th:href="@{/octopus/hr/post/list(type=0)}">Campus Recruitment</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a>
                        <i class="glyphicon glyphicon-user"></i>
                        <span class="nav-label">Billboard</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="J_menuItem" th:href="@{/octopus/hr/billboard/list}">Announcements</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Left Bar End -->

    <!-- Top Bar Start -->
    <div id="page-wrapper" class="gray-bg dashbard-1" style="overflow: hidden;">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header"><a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                </div>

                <!-- Message Box -->
                <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-envelope"></i> <span class="label label-warning" id="unread-notifications"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            <li id="hr-notifications"></li>

                            <li>
                                <div class="text-center link-block">
                                    <a class="J_menuItem" href="mailbox.html" data-index="88">
                                        <i class="fa fa-envelope"></i> <strong> View all notifications</strong>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

            </nav>
        </div>

        <!-- Default Page -->
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" th:src="@{/octopus/hr/post/list(type=1)}" frameborder="0"></iframe>
        </div>
    </div>
    <!-- Top Bar End -->

</div>

<script th:inline="javascript">
    $("#unread-notifications").text(0);

    function hideWhenEmpty() {
        if (parseInt($("#unread-notifications").text()) == 0) {
            $("#unread-notifications").css("display", "none");
        } else {
            $("#unread-notifications").css("display", "block");
        }
    }
    hideWhenEmpty();

    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_header_name = /*[[${_csrf.headerName}]]*/ '';
    /*]]>*/
    var csrfData = {};
    csrfData[_csrf_header_name] = _csrf_token;
    csrfData['login'] = "login";
    csrfData['passcode'] = 'passcode';

    var socket = new SockJS('/octopus/ws/endpoint'); //Handshake
    stompClient = Stomp.over(socket);
    stompClient.debug = null;

    stompClient.connect(csrfData, function (frame) {
        stompClient.subscribe('/octopus/ws/hr', function (message) {
            var messageDto = JSON.parse(message.body); // MessageDto

            $("#unread-notifications").text(parseInt($("#unread-notifications").text()) + 1);
            hideWhenEmpty();

            $("#hr-notifications").after("<li>\n" +
                "                                <div class=\"dropdown-messages-box\">\n" +
                "                                    <a href=\"profile.html\" class=\"pull-left\">\n" +
                "                                        <img alt=\"image\" class=\"img-circle\" src=\"/octopus/img/ico-mail.png\">\n" +
                "                                    </a>\n" +
                "                                    <div class=\"media-body \">\n" +
                "                                        <small class=\"pull-right text-navy\">Now</small>\n" +
                "                                        <strong>HR san</strong> trying to update postId: " + messageDto.text + "\n" +
                "                                        <br>\n" +
                "                                        <small class=\"text-muted\">Today</small>\n" +
                "                                    </div>\n" +
                "                                </div>\n" +
                "                            </li>" +
                "                           <li class=\"divider\"></li>")
        });
    });
</script>
</body>
</html>