<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Notification list</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/iCheck/custom.css}"/>

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <div class="space-25"></div>
                            <h5>Inbox</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>
                                    <a><i class="fa fa-envelope-o"></i> Unread <span class="label label-warning pull-right">16</span></a>
                                </li>
                                <li>
                                <li>
                                    <a><i class="fa fa-inbox"></i> Total <span class="label label-primary pull-right">160</span></a>
                                </li>
                            </ul>

                            <h5>Types</h5>
                            <ul class="category-list" style="padding: 0">
                                <li>
                                    <a> <i class="fa fa-circle text-navy"></i> Dpt Post Need</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-success" style="color: #1c84c6;"></i> Application</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-black"></i> Interview Reservation</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-danger"></i> Interview Result</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-warning"></i> Dpt Manager Check</a>
                                </li>
                            </ul>

                            <h5>Subscription</h5>
                            <ul class="category-list" style="padding: 0">
                                <li>
                                    <a> <i class="fa fa-circle text-navy"></i> Dpt Post Need</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-success" style="color: #1c84c6;"></i> Application</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-black"></i> Interview Reservation</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-danger"></i> Interview Result</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-warning"></i> Dpt Manager Check</a>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <div class="mail-box-header">

                    <form method="get" action="http://www.zi-han.net/theme/hplus/index.html" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search..." />

                        </div>
                    </form>
                    <h2>
                    Unread (16)
                </h2>
                    <div class="mail-tools tooltip-demo m-t-md">

                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh"><i class="fa fa-refresh"></i> Refresh</button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> Mark as read
                        </button>
                        <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as unread"><i class="fa fa-exclamation"></i> Mark as unread
                        </button>
                        <ul class="pagination pull-right" style="margin: auto;"></ul>
                    </div>
                </div>

                <div class="mail-box">


                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="16"
                           data-filter="#filter">
                        <thead>
                            <tr class="footable even">
                                <th>Check</th>
                                <th>Status</th>
                                <th>Name</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>

                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr><tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" checked class="i-checks"></td>
                                <td>dasdsa</td>
                                <td>dasdsa</td>
                            </tr>

                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="10">

                                </td>
                            </tr>
                        </tfoot>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(".footable").footable();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"});
    </script>
</body>

</html>
