<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Notification list</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/iCheck/custom.css}"/>

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/iCheck/icheck.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>

    <script th:src="@{/octopus/js/notification/sockjs.js}"></script>
    <script th:src="@{/octopus/js/notification/stomp.js}"></script>

    <style>
        .vertical-timeline-icon {
            position: relative;
            top: auto;
            left: auto;
        }

        .usui {
            opacity: 0.2;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <div class="space-25"></div>
                            <h5>Inbox</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li>
                                    <a><i class="fa fa-envelope-o"></i> Unread <span id="unread-count-badge" class="label label-success pull-right" th:text="${unreadCount}"></span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-star"></i> Starred <span id="starred-count-badge" class="label label-warning pull-right" th:text="${starredCount}"></span></a>
                                </li>
                                <li>
                                    <a><i class="fa fa-inbox"></i> All <span id="all-count-badge" class="label label-primary pull-right" th:text="${allCount}"></span></a>
                                </li>
                            </ul>

                            <h5>Types</h5>
                            <ul class="category-list" style="padding: 0">
                                <li>
                                    <a> <i class="fa fa-circle text-navy"></i> Dpt Post Need</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-success" style="color: #1c84c6;"></i> Application</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-black"></i> Interview Reservation</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-danger"></i> Interview Result</a>
                                </li>
                                <li>
                                    <a> <i class="fa fa-circle text-warning"></i> Dpt Manager Check</a>
                                </li>
                            </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <div class="mail-box-header">

                    <form method="get" action="http://www.zi-han.net/theme/hplus/index.html" class="pull-right mail-search">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search..." />

                        </div>
                    </form>

                    <h2 id="list-title">All</h2>

                    <div class="mail-tools tooltip-demo m-t-md">

                        <button onclick="markAs('read');" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i> Mark as read
                        </button>
                        <button onclick="markAs('unread');" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as unread"><i class="fa fa-exclamation"></i> Mark as unread
                        </button>
                        <ul class="pagination pull-right" style="margin: auto;"></ul>
                    </div>
                </div>

                <div class="mail-box" style="padding:15px 15px;" >


                    <table id="notification-list-table" class="footable toggle-arrow-tiny" data-page-size="16"
                           data-filter="#filter" data-striping="false">
                        <thead>
                            <tr class="footable">
                                <th style="width: 8%;">☑</th>
                                <th style="width: 8%;">Tag</th>
                                <th style="width: 10%;">Link</th>
                                <th style="width: 15%;">Operator</th>
                                <th>Operation</th>
                                <th>Time</th>
                            </tr>
                        </thead>

                        <tbody>
                            <th:block th:each="message: ${notificationList}">
                                <tr th:id="${'row-' + message.messageId}" th:class="${message.read} ? null : 'unread'">
                                    <td><input type="checkbox" th:value="${message.messageId}" class="i-checks"></td>
                                    <td>
                                        <p style="display: none;">[[${message.starred? 1: 0}]]</p>
                                        <i th:onclick="${'markOneAsStarred(' + message.messageId + ');'}" th:id="${'star-' + message.messageId}"
                                           style="margin-top: 4px; color: #f8ac59;" th:class="${message.starred} ? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x usui'"></i>
                                    </td>
                                    <td>
                                        <a th:onclick="${'markOneAsRead(' + message.messageId + ');'}" th:href="${message.link}">
                                            <div th:class="${'vertical-timeline-icon ' + message.iconColor + '-bg'}">
                                                <i th:class="${'fa fa-' + message.iconName}"></i>
                                                <p style="display: none;">[[${message.messageType}]]</p>
                                            </div>
                                        </a>
                                    </td>
                                    <td th:text="${message.subject}"></td>
                                    <td th:text="${message.text + message.object}"></td>
                                    <td th:text="${message.createTimeString}"></td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /* Initialization */
        $(".footable").footable();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"});
        updateSummaryBadge("unread", 0);
        updateSummaryBadge("starred", 0);
        updateSummaryBadge("all", 0);

        /* Prepare data */
        /*<![CDATA[*/
        var _csrf_token = /*[[${_csrf.token}]]*/ '';
        var _csrf_header_name = /*[[${_csrf.headerName}]]*/ '';
        var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
        /*]]>*/
        var csrfData = {};
        csrfData[_csrf_header_name] = _csrf_token;
        csrfData[_csrf_param_name] = _csrf_token;
        csrfData['login'] = "login"; // Not used
        csrfData['passcode'] = 'passcode'; // Not used

        /* Websocket pushing */
        // Handshake
        var socket = new SockJS('/octopus/ws/endpoint');
        stompClient = Stomp.over(socket);

        stompClient.connect(csrfData, function (frame) {
            stompClient.subscribe('/octopus/ws/hr', function (message) {
                // Receive MessageDto
                var messageDto = JSON.parse(message.body);
                // messageDto.link = messageDto.link.replace(/\//g, "-");

                // Besides we need footable object
                var tableObj = $("#notification-list-table").find('tbody');

                // Append row
                var row = "<tr id=\"row-" + messageDto.messageId + "\" class='unread' style=\"display: table-row;\">";

                row += "    <td><input type=\"checkbox\" value=\"" + messageDto.messageId + "\" class=\"i-checks\"></td>";

                row += "    <td>\n" +
                    "        <p style=\"display: none;\">" + (messageDto.starred? 1: 0) + "</p>\n" +
                    "        <i onclick=\"markOneAsStarred(" + messageDto.messageId + ");\" id=\"star-" + messageDto.messageId + "\"" +
                    "            style=\"margin-top: 4px; color: #f8ac59;\" class=\"" + (message.starred? 'fa fa-star fa-2x' : 'fa fa-star-o fa-2x usui') + "\"></i>\n" +
                    "    </td>";

                row += "    <td>\n" +
                    "        <a onclick=\"markOneAsRead(" + messageDto.messageId + ");\" href=\"" + messageDto.link + "\">\n" +
                    "        <div class=\"vertical-timeline-icon " + messageDto.iconColor + "-bg\">\n" +
                    "            <i class=\"fa fa-" + messageDto.iconName + "\"></i>\n" +
                    "            <p style=\"display: none;\">" + messageDto.messageType + "</p>\n" +
                    "            </div>\n" +
                    "        </a>\n" +
                    "    </td>";


                row += "<td>" + messageDto.subject + "</td>";
                row += "<td>" + messageDto.text + messageDto.object + "</td>";
                row += "<td>" + messageDto.createTimeString + "</td>";

                row += '</tr>';
                tableObj.prepend(row);

                // iCheck refresh
                $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green"});
            });
        });

        /* Operations */
        function markAs(operationStr) {
            /* Prepare data */
            var chkArray = [];
            $(".i-checks:checked").each(function() {
                chkArray.push($(this).val());
            });

            if (chkArray.length == 0) {
                swal({
                    title : "Error",
                    text: "You have not selected any messages.",
                    type : "error"
                });
                return;
            }

            csrfData["chkArray"] = chkArray;


            /* Refresh UI */
            var refreshedCount = 0;

            if (operationStr == 'read') {
                chkArray.forEach(function(currentValue, index, arr) {
                    var querySelector = "#row-" + currentValue;
                    var elementClass = $(querySelector).attr("class");
                    if (contains(elementClass, "unread")) {
                        elementClass = elementClass.replace("unread", "");
                        $(querySelector).attr("class", elementClass);
                        refreshedCount += 1;
                    }
                });

                updateSummaryBadge("unread", - refreshedCount);
            } else {
                chkArray.forEach(function(currentValue, index, arr) {
                    var querySelector = "#row-" + currentValue;
                    var elementClass = $(querySelector).attr("class");
                    if (!contains(elementClass, "unread")) {
                        elementClass = "unread " + elementClass;
                        $(querySelector).attr("class", elementClass);
                        refreshedCount += 1;
                    }
                });

                updateSummaryBadge("unread", refreshedCount);
            }

            /* Ajax */
            $.ajax({
                type: 'post',
                url: 'mark/' + operationStr,
                data: csrfData
            });
        }

        function markOneAsStarred(messageId) {
            var querySelector = "#star-" + messageId;
            var starred = $(querySelector).attr("class");
            if (starred == 'fa fa-star fa-2x') { // Starred
                $(querySelector).attr("class", "fa fa-star-o fa-2x usui");
                $.ajax({
                    type: 'post',
                    url: 'mark/' + messageId + '/unstarred',
                    data: csrfData
                });

                updateSummaryBadge("starred", -1);
            } else { // Not starred
                $(querySelector).attr("class", "fa fa-star fa-2x");
                $.ajax({
                    type: 'post',
                    url: 'mark/' + messageId + '/starred',
                    data: csrfData
                });

                updateSummaryBadge("starred", 1);
            }
        }

        function markOneAsRead(messageId) {
            var querySelector = "#row-" + messageId;
            var elementClass = $(querySelector).attr("class");
            if (contains(elementClass, "unread")) {
                elementClass = elementClass.replace("unread", "");
                $(querySelector).attr("class", elementClass);
                $.ajax({
                    type: 'post',
                    url: 'mark/' + messageId + '/read',
                    data: csrfData
                });

                updateSummaryBadge("unread", -1);
            }
        }

        function updateSummaryBadge(badgeId, count) {
            badgeId = "#" + badgeId + "-count-badge";
            var newValue = parseInt($(badgeId).text()) + count;
            if (newValue <= 0) {
                $(badgeId).css("display", "none");
            } else {
                $(badgeId).css("display", "block");
            }
            $(badgeId).text(newValue);
        }

        function contains(sourceStr, subStr) {
            if (sourceStr == null) return false;
            return sourceStr.indexOf(subStr) == -1? false: true;
        }
    </script>
</body>

</html>
