<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR - Post Resume Model</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/octopus/js/jquery-ui-1.10.4.min.js}"></script>

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">


        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h2>Edit Resume Model</h2>

                        <ol class="breadcrumb">
                            <li>
                                <a th:href="@{/octopus/hr/dashboard/list}">HR</a>
                            </li>
                            <li>
                                <a th:href="@{/octopus/hr/post/list(type=(${post.recruitType}))}">Recruitment</a>
                            </li>
                            <li class="active">
                                <strong>Resume Model</strong>
                            </li>
                        </ol>
                    </div>

                    <div class="ibox-content" style="padding-bottom: 0px;">

                        <div class="row">
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Post Name:</dt>
                                    <dd th:text="${post.postName}"></dd>
                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Status:</dt>
                                    <dd>
                                        <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).INIT}" class="label label-success">To be checked</span>
                                        <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).REVOKED}" class="label label-danger">Revoked by manager</span>
                                        <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}" class="label label-primary">Published</span>
                                    </dd>
                                </dl>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Post Type:</dt>
                                    <dd th:text="${post.postType}"></dd>

                                    <dt>Post Locale:</dt>
                                    <dd th:text="${post.postLocale}"></dd>
                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>Department:</dt>
                                    <dd th:text="${post.departmentName}"></dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Customize resume form for the post</h4>
                            </div>
                            <div class="col-sm-6">
                                <button class="pull-right btn-m btn-outline btn-default"
                                    onclick="save();">
                                    <i class="glyphicon glyphicon-edit" aria-hidden="true"> Save</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="ibox-content">

                        <input type="hidden" id="resumeModelId" value="" />

                        <div class="row">

                            <div class="col-sm-6">
                                <h3>Display</h3>
                                <p class="small"><i class="fa fa-hand-o-up"></i> Drag items between panels</p>

                                <ul class="sortable-list connectList agile-list" id="display">

                                </ul>
                            </div>

                            <div class="col-sm-6" style="background-color: #f5f5f6;">
                                <h3>Hide</h3>
                                <p class="small"><i class="fa fa-hand-o-up"></i> Drag items between panels</p>

                                <ul class="sortable-list connectList agile-list" id="hide">

                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<script th:inline="javascript">
    $(".sortable-list").sortable({
        connectWith:".connectList"
    }).disableSelection();

    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
    /*]]>*/
    var csrfData = {};
    csrfData[_csrf_param_name] = _csrf_token;

    /* Generate li template */
    function generateLi(type, id, content) {
        return "<li class=\"" + type + "-element\"" + " id=\"" + id + "\">" + content +  "</li>";
    }

    /* Load form fields */
    function reload() {
        $.ajax({
            type: "get",
            url: 'json',
            async: true,
            success: function (data) {
                $("#display").empty();
                $("#hide").empty();

                $("#resumeModelId").val(data["resumeModelId"]);

                for (var k in data) {
                    if (k != "fieldText" && k != "resumeModelId") { // Naturally forbidden
                        if (k != 'applicantDegreePhoto' && k != 'applicantName') { // Manually forbidden
                            if (data[k] == true) {
                                $("#display").append(generateLi("success", k, data["fieldText"][k]));
                            } else {
                                $("#hide").append(generateLi("warning", k, data["fieldText"][k]));
                            }
                        }
                    }
                }

            },
            error: function (data) {
                $("#display").append(generateLi("success", "", "Loading failure. Please refresh the page."));
                $("#hide").append(generateLi("warning", "", "Loading failure. Please refresh the page."));
            }
        });
    }

    /* Save modifications on form fields */
    function save() {
        $("#display > li").each(function() {
            csrfData[$(this).attr("id")] = true;
        });
        $("#hide > li").each(function() {
            csrfData[$(this).attr("id")] = false;
        });
        csrfData["resumeModelId"] = $("#resumeModelId").val();

        $.ajax({
            type: "post",
            url: 'update',
            data: csrfData,
            async: true,
            success: function (data) {
                swal({
                    title: "Success",
                    text: "You have successfully updated this resume model.",
                    type: "success"
                }, function (isConfirm) {
                    reload();
                });
            },
            error: function (data) {
                swal({
                    title: "Failure",
                    text: "You have not successfully updated this post need.",
                    type: "error"
                });
            }
        });
    }

    /* Initially load form fields when page is loaded */
    reload();
</script>

</body>
</html>
