<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HR - Post List</title>

    <link rel="stylesheet" th:href="@{/octopus/css/bootstrap.min14ed.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/footable/footable.core.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/font-awesome.min93e3.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/animate.min.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/style.min862f.css}"/>
    <link rel="stylesheet" th:href="@{/octopus/css/plugins/sweetalert/sweetalert.css}"/>

    <script th:src="@{/octopus/js/jquery.min.js}"></script>
    <script th:src="@{/octopus/js/bootstrap.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/octopus/js/plugins/sweetalert/sweetalert.min.js}"></script>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h1 th:text="${title}"></h1>

                        <ol class="breadcrumb">
                            <li>
                                <a>HR</a>
                            </li>
                            <li>
                                <a>Recruitment</a>
                            </li>
                            <li class="active">
                                <strong th:text="${title}"></strong>
                            </li>
                        </ol>
                    </div>
                    <div class="ibox-content">
                        <div class="btn-group hidden-xs" id="exampleTableEventsToolbar" role="group" style="width:100%;">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search..."
                                   style="width:25%;float:right;"/>
                        </div>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="9"
                               data-filter="#filter">
                            <thead>
                            <tr class="footable even">
                                <th>Status</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Locale</th>
                                <th>Department</th>
                                <th>Publish Time</th>
                                <th>Publish</th>
                                <th>Operation</th>
                            </tr>
                            </thead>

                            <tbody>
                                <th:block th:each="post : ${postList}">
                                    <tr>
                                        <td>
                                            <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).INIT}" class="label label-success">To be checked</span>
                                            <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).REVOKED}" class="label label-danger">Revoked by manager</span>
                                            <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}" class="label label-primary">Published</span>
                                            <span th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).FINISHED}" class="label label-default">Finished</span>
                                        </td>
                                        <td th:text="${post.postName}"></td>
                                        <td th:text="${post.postType}"></td>
                                        <td th:text="${post.postLocale}"></td>
                                        <td th:text="${post.departmentName}"></td>
                                        <td th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}" th:text="${#strings.substring(post.publishTime, 0, 16)}"></td>
                                        <td th:if="${post.status} ne ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}">Not published</td>
                                        <td>
                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).INIT}" type="button"
                                                    th:onclick="${'operatePost(''' + post.postId + ''', ''' + post.postName + ''', ''publish'')'}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                                Publish
                                            </button>

                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}" type="button"
                                                    th:onclick="${'operatePost(''' + post.postId + ''', ''' + post.postName + ''', ''unpublish'')'}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                                                Unpublish
                                            </button>
                                        </td>
                                        <td>
                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).INIT}" type="button"
                                                    th:onclick="${'location.href=''' + post.postId + ''''}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>
                                                Check/Edit Detail
                                            </button>

                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).INIT}" type="button"
                                                    th:onclick="${'location.href=''' + post.postId + '/resume/model'''}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                                Customize Resume Form
                                            </button>

                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}
                                                or ${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).FINISHED}" type="button"
                                                    th:onclick="${'location.href=''' + post.postId + '/application/list'''}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                                                View Applicants
                                            </button>

                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).PUBLISHED}" type="button"
                                                    th:onclick="${'operatePost(''' + post.postId + ''', ''' + post.postName + ''', ''finish'')'}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-flag" aria-hidden="true"></i>
                                                Finish
                                            </button>

                                            <button th:if="${post.status} eq ${T(com.targaryen.octopus.util.status.PostStatus).FINISHED}" type="button"
                                                    th:onclick="${'operatePost(''' + post.postId + ''', ''' + post.postName + ''', ''reopen'')'}"
                                                    class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                Reopen
                                            </button>
                                        </td>
                                    </tr>

                                </th:block>
                            </tbody>

                            <tfoot>
                            <tr>
                                <td colspan="8">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script th:inline="javascript">
    $(".footable").footable();

    /*<![CDATA[*/
    var _csrf_token = /*[[${_csrf.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
    /*]]>*/
    var csrfData = {};
    csrfData[_csrf_param_name] = _csrf_token;

    function operatePost(postId, postName, operation) {
        csrfData['postId'] = postId;

        swal({
            title : "Confirm",
            text: "Do you really wish to " + operation + " this post need: " + postName + " ?",
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : "Yes",
            cancelButtonText : "No",
            closeOnConfirm : false,
            closeOnCancel : false
        }, function(isConfirm) {
            if (isConfirm) {
                $.ajax({
                    type: "post",
                    url: operation,
                    data: csrfData,
                    async: false,
                    success: function (data) {
                        swal({
                            title: "Success",
                            text: "You have successfully " + operation + "ed this post need.",
                            type: "success"
                        }, function (isConfirm) {
                            document.location.reload();
                        });
                    },
                    error: function (data) {
                        swal({
                            title: "Failure",
                            text: "You have not successfully " + operation + "ed this post need.",
                            type: "error"
                        });
                    }
                });
            } else {
                swal("Cancelled", "You have cancelled.", "error");
            }
        });
    }
</script>

</body>
</html>
